Question 1:
How can you create a 1D NumPy array containing the values [10, 20, 30, 40, 50]?

In [2]:
import numpy as np

In [35]:
arr=np.array([10,20,30,40,50])
arr

array([10, 20, 30, 40, 50])

Question 2:
How can you check the shape and data type of the array you just created?
Write the code to display both.

In [41]:
arr_s = arr.shape  # Shape of the array
arr_t = arr.dtype  # Data type of the array
print(arr_s)
print(arr_t)

(5,)
int32

Question 3:
Create a 2D NumPy array with the following values:
[[1, 2, 3],
 [4, 5, 6],
 [7, 8, 9]]
Then print the shape of this 2D array.

In [76]:
arr=np.array([[1,2,3],[4, 5, 6], [7, 8, 9]])
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

Question 4:
How can you access the element in the second row and third column of this 2D array? Write the code to retrieve it.

In [83]:
arr[1,2]

6

Question 5:
How can you extract the first two rows and the last two columns from the following 2D array?

In [92]:
import numpy as np

arr = np.array([[1, 2, 3, 4],
                [5, 6, 7, 8],
                [9, 10, 11, 12]])

result = arr[:2, -2:]
print(result)

[[3 4]
 [7 8]]

Question 6:
Create a 5x5 NumPy array of zeros and then set the diagonal of the array to 1.

In [104]:
arr=np.identity(5)
arr

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

Question 7:
Create a 3x3 NumPy array with random values between 0 and 1. Then round all the values to 2 decimal places.

In [129]:
arr = np.random.rand(3, 3)  # Random values between 0 and 1
arr = np.round(arr, 2)  # Round values to 2 decimal places
print(arr)

[[0.59 0.09 0.8 ]
 [0.83 0.26 0.6 ]
 [0.44 0.45 0.59]]

Question 8:
Create a 1D NumPy array with values ranging from 10 to 50 (inclusive) with a step size of 5.

In [138]:
arr = np.arange(10, 51, 5)
print(arr)

[10 15 20 25 30 35 40 45 50]

Question 9:Create a 4x4 NumPy array with values ranging from 10 to 20 (inclusive), and then find the sum of all the elements in the array.

In [146]:
arr = np.arange(10, 20)
arr

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])